html, body {
    min-width: 320px;
}
.animated {
    position: absolute;
}
@mixin feature-wrapper(){
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    height: height;
    box-sizing: border-box;
    .feature-text {
        max-width: 880px;
        h2,h3 {
            font-family: Gotham Book;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.11;
            text-align: left;
            color: #414676;
        }
        p {
            font-family: 'SF UI Text',Helvetica,Arial,'san-serif';
            font-size: 16px;
            line-height: 1.63;
            margin-top: 10px;
            text-align: left;
            color: #7585b1;
            font-weight: 200; 
        }
    }
    .feature-image {
        position: relative;
        width: 420px;
        height: 420px;
        max-width: 420px;
        max-height: 420px;
        img {
            height: 100%;
        }
    }
    .screen-image {
    }
}
@mixin max-content() {
    .max-content {
        position: relative;
        margin: auto;
        height: 100%;
        max-width: 1440px;
        overflow: hidden;
        box-sizing: border-box;
    }
    @media (min-width:750px) and (max-width:1023px){
        .max-content {
            margin: 0 40px;
        }
    }
    @media (max-width:749px){
        .max-content {
            margin: 30px;
        }
    }
}
@include max-content();
img.part_10 {
    opacity: 1;
    width: 160px;
    height: 88px;
}
img.part_11 {
    opacity: 1;
    width: 160px;
    height: 160px;
}
img.part_12 {
    opacity: 1;
    width: 193px;
    height: 123pxpx;
}
.main-screen {

    width: 100%;
    height: 600px;
    margin-top: 60px;
    background: url('../../images/home/bg.png') no-repeat;
    background-size: cover;
    section.page {
        height: 100%;
        .feature-wrapper  {
            @include feature-wrapper();
        }
    }
    img.mokeup, img.part_10,img.screen1{
        opacity: 1;
    }
}
.pc-img {
    position:  relative;
    width: 100%;
    height: 400px;
}

.screen-image {
    width: 58%;
    height: auto;
}
.screen-content {
    width: 100;
    position:  absolute;
    top: 28px;
    left: 103px;
    right: 56px;
    bottom: 48px;
    max-width: 80%;
}

.screen-content img {
    width: 100%;
}
img.animated.mokeup {
    width: 100%;
}