html,body{height: 100%;min-width: 320px;}
// 设计稿尺寸
// $height:800;
// $width:1440;
$font-family:"SF UI Text", "Helvetica", "Arial", "san-serif";
@function toPx($value,$scale:1) {
    @if($value == auto){
        @return auto;
    }
    @return $value*$scale+ px;
}
@mixin postion($top:auto,$right:auto,$bottom:auto,$left:auto,$isScale:false){
    position: absolute;
    top: toPx($top);
    right: toPx($right);
    bottom: toPx($bottom);
    left: toPx($left);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @if($isScale == true){
        @include media-1280(){
            top: toPx($top,.7);
            right: toPx($right,.7);
            bottom: toPx($bottom,.7);
            left: toPx($left,.7);
        }
    }
    // background-position: center center;
}
@mixin size($width:auto,$height:auto,$isScale:false){
    width: $width + px;
    height: $height + px;
    @if($isScale == true){
        @include media-1280(){
            width: $width*.7 + px;
            height: $height*.7 + px;
        }
    }
}
@mixin media-1280(){
    @media (max-width:1279px) {
        @content;
    }
}
@mixin media-1440(){
    @media (min-width:1440px) {
        @content;
    }
}
@mixin media-1439(){
    @media (max-width:1439px) {
        @content;
    }
}
.animate-box{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1160px;
    height: 730px;
    @include media-1439(){
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
    }
    @include media-1280(){
        width: 1160*.7 + px;
        height: 730*.7 + px;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.screen-box{
    height: 100%;
}
.no-opacity{opacity: 0;}
.screen-one{
    height: 100%;
    position: relative;
    background: url('//static.chimeroi.com/home/home/1_bg@2x.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    .frame-box{
        width: 100%;
        height: 100%;
        @include media-1440(){
            position: absolute;
            width: 1490px;
            height: 730px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .frame{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .max-content {
            width: 100%;
            height: 100%;
            .feature-text{
                position: absolute;
                top: 50%;
                @include media-1440(){
                    width: 560px;
                    left: 120px;
                }
                @include media-1439(){
                    width: 400px;
                    left: 120px;
                }
                @include media-1280(){
                    width: 350px;
                    left: 60px;
                }
                transform: translateY(-50%);
                z-index: 2;
                .title{
                    font-family: Gotham Light;
                    font-size: 80px;
                    line-height: 80px;
                    color:#1e234b;
                    margin-bottom: 10px;
                    @include media-1280(){
                        font-size: 72px;
                        line-height: 72px;
                    }
                    .color-bule{
                        font-family: Gotham Bold;
                        color:#2492fc;
                    }
                }
                .subtitle{
                    font-family: Gotham Book;
                    font-size: 36px;
                    line-height: 40px;
                    color:#1e234b;
                    margin-bottom: 30px;
                    @include media-1280(){
                        font-size: 28px;
                        line-height: 32px;
                    }
                }
                p{
                    font-family: Gotham Book;
                    font-size: 18px;
                    color:#7585b1;
                    @include media-1280(){
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        .bg-screen{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .part-screen-bg{
                @include size(830,515,true);
                @include postion($top:auto,$right:0,$bottom:36,$left:auto,$isScale:true);
                background-image: url('//static.chimeroi.com/home/home/mokeup@2x-v2.png');
            }
        }
        
        .frame-animate{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            &.animate-frame-one{
                .figure-content{
                    @include size(830,515,true);
                    @include postion($top:auto,$right:0,$bottom:36,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/screen1@2x-v2.png');
                }
                .part1{
                    @include size(114,175,true);
                    @include postion($top:auto,$right:auto,$bottom:85,$left:20,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_1.png');
                }
                .part2{
                    @include size(163,40,true);
                    @include postion($top:auto,$right:60,$bottom:207,$left:auto,$isScale:true);
                    box-shadow: 0 5px 10px 0 rgba(77, 240, 32, 0.4);
                    background-image: url('//static.chimeroi.com/home/home/part_2.png');
                    border-radius: 20px;
                }
                .part3{
                    @include size(294,212,true);
                    @include postion($top:125,$right:auto,$bottom:auto,$left:50,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_3.png');
                }
            }

            &.animate-frame-two{
                .figure-content{
                    @include size(830,515,true);
                    @include postion($top:auto,$right:0,$bottom:36,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/screen2@2x-v2.png');
                }
                .part1{
                    @include size(140,200,true);
                    @include postion($top:auto,$right:70,$bottom:111,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_4.png');
                    box-shadow: 0 10px 20px 0 rgba(57, 145, 230, 0.5);
                    border-radius: 12px;
                }
                .part2{
                    @include size(116,77,true);
                    @include postion($top:167,$right:auto,$bottom:auto,$left:277,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_5.png');
                }
                .part3{
                    @include size(230,150,true);
                    @include postion($top:50,$right:auto,$bottom:auto,$left:108,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_6.png');
                }
            }

            &.animate-frame-three{
                .figure-content{
                    @include size(830,515,true);
                    @include postion($top:auto,$right:0,$bottom:36,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/screen3@2x-v2.png');
                }
                .part1{
                    @include size(230,150,true);
                    @include postion($top:auto,$right:auto,$bottom:75,$left:160,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_7.png');
                }
                .part2{
                    @include size(200,96,true);
                    @include postion($top:auto,$right:70,$bottom:249,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_8.png');
                    box-shadow: 0 10px 20px 0 rgba(81, 156, 227, 0.3);
                    border-radius: 6px;
                }
                .part3{
                    @include size(184,122,true);
                    @include postion($top:105,$right:auto,$bottom:auto,$left:60,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_9.png');
                }
            }

            &.animate-frame-four{
                .figure-content{
                    @include size(830,515,true);
                    @include postion($top:auto,$right:0,$bottom:36,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/screen4@2x-v2.png');
                }
                .part1{
                    @include size(160,88,true);
                    @include postion($top:auto,$right:auto,$bottom:177,$left:0,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_10.png');
                }
                .part2{
                    @include size(160,160,true);
                    @include postion($top:155,$right:220,$bottom:auto,$left:auto,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_11.png');
                    box-shadow: 0 10px 20px 0 rgba(173, 220, 238, 0.5);
                    border-radius: 6px;
                }
                .part3{
                    @include size(193,123,true);
                    @include postion($top:65,$right:auto,$bottom:auto,$left:330,$isScale:true);
                    background-image: url('//static.chimeroi.com/home/home/part_12.png');
                }
            }

            
        }

        .askFree{
            width: 280px;
            height: 54px;
            line-height: 54px;
            border-radius: 33px;
            font-size: 20px;
            font-family: Gotham Bold;
            color: #fff;
            text-align: center;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            bottom: 146px;
            cursor: pointer;
            margin: auto;
            background-image: linear-gradient(to bottom, #31a5ff, #1197ff);
            box-shadow: 0 15px 30px 0 rgba(33, 149, 240, 0.6);
            &:hover{
                background-image: linear-gradient(90deg, #5ab7ff, #3ea9ff);
            }
            &:active{
                background-image: linear-gradient(90deg, #2c94e5, #1087e5);
            }
        }
    }
}

// 公共部分
.h-box{
    margin-bottom: 20px;
    .text-h{
        font-family: Gotham Light;
        font-size: 60px;
        line-height: 65px;
        @include media-1280(){
            font-size: 50px;
            line-height: 54px;
        }
        .b-bold{
            font-family: Gotham Bold;
        }
    }
}

.p-box{
    margin-bottom: 40px;
    .text-p{
        font-family: $font-family;
        font-size: 18px;
        line-height: 30px;
    }
}

.screen-titile{
    font-family: Gotham Bold;
    font-size: 300px;
    @include postion($top:84,$right:0,$bottom:auto,$left:0);
    color:#f0f7ff;
    margin: auto;
    text-align: center;
    z-index: 1;
}
.screen-figure{
    width: 50%;
    height: 100%;
}
.screen-text{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.screen-vertical{
    height: 100%;
    position: relative;
    background-size: cover;
    overflow: hidden;
    display: flex;
}
@mixin btn-bg($width:60px,$startColor:#2492fc,$endColor:#fff){
    width: $width;
    height: $width;
    display: inline-block;
    background-size: 100% 100%;
    position: relative;
    border-radius: 50%;
    background-color: $startColor;
    transition:  background-color 480ms linear 160ms;
    overflow: hidden;
    .btn-arrow-box{
        .btn-arrow_1,.btn-arrow_2{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 15px;
            @if ($width == 30px){
                width: 10px;
                height: 7.5px;
            }
            background-size: 100% 100%;
        }
        .btn-arrow_1{
            background-image: url("//static.chimeroi.com/home/home/jiantou_1@2x.png");
            @if ($startColor == white){
                background-image: url("//static.chimeroi.com/home/home/small_jiantou@2x.png");
            }
            transition: transform 480ms ease-out 160ms;
        }
        .btn-arrow_2{
            background-image: url("//static.chimeroi.com/home/home/jiantou_2@2x.png");
            @if ($startColor == white){
                background-image: url("//static.chimeroi.com/home/home/jiantou_1@2x.png");
            }
            transition: transform 840ms ease-out 160ms;
            transform: translateX(-$width);
        }
    }
    
    &:hover{
        background-color:$endColor;
        .btn-arrow-box{
            .btn-arrow_1{
                transform: translateX($width);
            }
            .btn-arrow_2{
                transform: translateX(0);
            }
        }
    }
    @content;
}
@mixin screen-bg($url){
    background-image: url($url);
    background-size:  cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.flex-middle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-box{
   @include media-1280(){
       max-width: calc(100% - 270px);
   }
}
// special;
.screen-two{
    @include screen-bg('//static.chimeroi.com/home/home/crm-bg.png');
    .screen-figure{
        z-index: 1;
        .card-people{
            @include size(307,260);
            @include postion($top:auto,$right:auto,$bottom:62,$left:150);
            @include media-1280(){
                @include postion($top:auto,$right:auto,$bottom:62,$left:100);
            }
            background-image: url('//static.chimeroi.com/home/home/2_people.png');
            z-index: 4;
        }
        .card-zu-1{
            @include size(605,294);
            @include postion($top:auto,$right:auto,$bottom:146,$left:150);
            @include media-1280(){
                @include postion($top:auto,$right:auto,$bottom:146,$left:100);;
            }
            background-image: url('//static.chimeroi.com/home/home/2_card_zu_1.png');
        }
        .card-zu-2{
            @include size(428,244);
            @include postion($top:auto,$right:auto,$bottom:248,$left:165);
            @include media-1280(){
                @include postion($top:auto,$right:auto,$bottom:248,$left:115);
            }
            background-image: url('//static.chimeroi.com/home/home/2_card_zu_2.png');
            z-index: 3;
        }
        .card-zu-3{
            @include size(327,291);
            @include postion($top:auto,$right:auto,$bottom:277,$left:325);
            @include media-1280(){
                @include postion($top:auto,$right:auto,$bottom:277,$left:275);
            }
            background-image: url('//static.chimeroi.com/home/home/2_card_zu_3.png');
            z-index: 2;
        }
        .card-zu-4{
            @include size(375,239);
            @include postion($top:auto,$right:auto,$bottom:319,$left:290);
            @include media-1280(){
                @include postion($top:auto,$right:auto,$bottom:319,$left:240);
            }
            background-image: url('//static.chimeroi.com/home/home/2_card_zu_4.png');
            z-index: 1;
        }
        
    }
    .screen-text{
        .text-box{
            @include postion($top:0,$right:auto,$bottom:auto,$left:160);
            @include media-1280(){
                @include postion(0, 60, auto, auto);
            }
            @extend .flex-middle;
            
            z-index: 1;
            color:#414676;
            .text-p{
                color:#7585b1;
            }
            .btn-box{
                display: flex;
                .jump-detail{
                    font-size: 16px;
                    line-height: 30px;
                    .btn-bg{
                        @include btn-bg(60px);
                    }
                }
            }
        }
    }
}

.screen-three{
    @include screen-bg('//static.chimeroi.com/home/home/3_bg@2x.jpg');
    .screen-figure{
        z-index: 1;
        .card-people{
            @include size(382,231);
            @include postion($top:auto,$right:160,$bottom:51,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:110,$bottom:51,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_peo.png');
            z-index: 7;
        }
        .card-zu-1{
            @include size(62,97);
            @include postion($top:auto,$right:366,$bottom:270,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:316,$bottom:270,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_card_zu_1.png');
            z-index: 6;
        }
        .card-zu-2{
            @include size(176,179);
            @include postion($top:auto,$right:315,$bottom:241,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:265,$bottom:241,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_card_zu_2.png');
            z-index: 5;
        }
        .card-zu-3{
            @include size(424,337);
            @include postion($top:auto,$right:266,$bottom:268,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:216,$bottom:268,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_card_zu_3.png');
            z-index: 4;
        }
        .card-zu-4{
            @include size(482,398);
            @include postion($top:auto,$right:238,$bottom:234,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:188,$bottom:234,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_card_zu_4.png');
            z-index: 3;
        }
        .card-fu-1{
            @include size(125,94);
            @include postion($top:auto,$right:529,$bottom:208,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:479,$bottom:208,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_fu_card1.png');
            z-index: 6;
        }
        .card-fu-2{
            @include size(115,125);
            @include postion($top:auto,$right:424,$bottom:292,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:384,$bottom:292,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_fu_card2.png');
            z-index: 6;
        }
        .card-fu-3{
            @include size(84,111);
            @include postion($top:auto,$right:236,$bottom:373,$left:auto);
            @include media-1280(){
                @include postion($top:auto,$right:186,$bottom:373,$left:auto);
            }
            background-image: url('//static.chimeroi.com/home/home/3_fu_card3.png');
            z-index: 6;
        }
        
    }
    .screen-text{
        .text-box{
            @include postion($top:0,$right:80,$bottom:auto,$left:auto);
            @include media-1280(){
                @include postion(auto, auto, 0, 80);
            }
            @extend .flex-middle;
            z-index: 1;
            color:#ffffff;
            text-align: right;
            .media-1024{
                display: none;
                @include media-1280(){
                    display: block;
                }
            }
            .media-1280{
                @include media-1280(){
                    display: none;
                }
            }
            .btn-box{
                display: flex;
                flex-wrap: wrap;
                @include media-1280(){
                    justify-content:flex-end;
                }
                .jump-detail{
                    vertical-align: middle;
                    height: 30px;
                    font-size: 16px;
                    line-height: 30px;
                    margin-left: 30px;
                    color:#fff;
                    @include media-1280(){
                        margin-bottom: 20px;
                    }
                    .btn-bg{
                        vertical-align: middle;
                        @include btn-bg(30px,white,#46557F){
                            margin-right: 10px;
                        }
                        @include media-1280(){
                            float: right;
                            margin-left: 10px;
                        }
                    }
                }
            }
            
        }
    }
}

.screen-four{
    @include screen-bg('//static.chimeroi.com/home/home/idx-bg.png');
    .screen-figure{
        z-index: 1;
        .card-zu-1{
            @include size(300,570);
            position: absolute;
            right: 280px;
            bottom: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('//static.chimeroi.com/home/home/4_page_1@2x.png');
            box-shadow: 0 30px 30px 0 rgba(107, 123, 137, 0.5);
            z-index: 2;
            @include media-1280(){
                @include size(240,456);
                right: 232px;
            }
        }
        .card-zu-2{
            @include size(240,490);
            position: absolute;
            right: 580px;
            bottom: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('//static.chimeroi.com/home/home/4_page_2@2x.png');
            box-shadow: 0 30px 30px 0 rgba(107, 123, 137, 0.5);
            @include media-1280(){
                @include size(192,392);
                right: 472px;
            }
        }
        .card-zu-3{
            @include size(240,450);
            position: absolute;
            right: 40px;
            bottom: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('//static.chimeroi.com/home/home/4_page_3@2x.png');
            box-shadow: 0 30px 30px 0 rgba(107, 123, 137, 0.5);
            z-index: 1;
            @include media-1280(){
                @include size(192,360);
            }
        }
    }
    .screen-text{
        .text-box{
            @include postion($top:auto,$right:auto,$bottom:0,$left:160);
            z-index: 2;
            color:#414676;
            @extend .flex-middle;
            @include media-1439(){
                max-width: calc(100% - 270px);
            }
            .text-p{
                color:#7585b1;
            }
            .jump-detail{
                font-size: 16px;
                line-height: 30px;
                .btn-bg{
                    @include btn-bg(60px);
                }
            }
        }
    }
}

.screen-five{
    @include screen-bg('//static.chimeroi.com/home/home/5_bg@2x.jpg');
     .screen-figure{
        z-index: 1;
        .card-people{
            @include size(320,299);
            @include postion($top:auto,$right:auto,$bottom:62,$left:250);
            background-image: url('//static.chimeroi.com/home/home/5_peo.png');
            z-index: 6;
        }
        .card-zu-1{
            @include size(341,304);
            @include postion($top:auto,$right:auto,$bottom:303,$left:255);
            background-image: url('//static.chimeroi.com/home/home/5_card_zu_1.png');
        }
        .card-zu-2{
            @include size(512,299);
            @include postion($top:auto,$right:auto,$bottom:234,$left:183);
            background-image: url('//static.chimeroi.com/home/home/5_card_zu_2.png');
        }
        .card-zu-3{
            @include size(306,221);
            // @include postion($top:144,$right:754,$bottom:435,$left:380);
            @include postion($top:auto,$right:auto,$bottom:435,$left:380);
            background-image: url('//static.chimeroi.com/home/home/5_card_zu_3.png');
        }
        .card-num-1{
            @include size(458,356);
            @include postion($top:auto,$right:auto,$bottom:306,$left:326);
            background-image: url('//static.chimeroi.com/home/home/5_num_1.png');
        }
        .card-num-2{
            @include size(566,222);
            @include postion($top:auto,$right:auto,$bottom:376,$left:175);
            background-image: url('//static.chimeroi.com/home/home/5_num_2.png');
        }
        .card-num-3{
            @include size(189,376);
            @include postion($top:auto,$right:auto,$bottom:314,$left:341);
            z-index: 3;
            background-image: url('//static.chimeroi.com/home/home/5_num_3.png');
        }
    }
    .screen-text{
        .text-box{
            @include postion($top:0,$right:auto,$bottom:auto,$left:80);
            @include media-1280(){
                @include postion(auto, 160, 0, auto);
            }
            @extend .flex-middle;
            z-index: 1;
            color:#FFF;
            text-align: right;
            .btn-box{
                justify-content: flex-end;
            }
            .jump-detail{
                font-size: 16px;
                line-height: 30px;
                .btn-bg{
                    @include btn-bg(60px,white,#46557F);
                }
            }
        }
    }
}

.screen-six{
    color:#fff;
    position: relative;
    height: 500px;
    overflow: hidden;
    .demo-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .h-box{
        padding: 160px 0 80px;
        text-align: center;
        margin-bottom: 0;
        h2{
            font-family: Gotham Bold;
            font-size: 50px;
            line-height: 60px;
        }
    }
    .btn-box{
        .btns{
            display: block;
            margin: 0 auto;
            width: 360px;
            height: 60px;
            line-height: 60px;
            border-radius: 33px;
            background-color: #3443bd;
            box-shadow: 0 12px 24px 0 rgba(52, 67, 189, 0.3);
            font-size: 24px;
            text-align: center;
            font-family: Gotham Bold;
            margin-bottom: 80px;
            cursor: pointer;
            &:hover{
                background-color: #4b59c9;
                box-shadow: 0 12px 24px 0 rgba(52, 67, 189, 0.3);
            }
            &:active{
                background-color: #2b38a1;
                box-shadow: 0 12px 24px 0 rgba(52, 67, 189, 0.3);
            }
        }
    }
}

// m 端
@mixin feature-text() {
    .page .feature-text {
        width: 100%;
        max-width: 670px;
        height: auto;
        padding: 0 40px;
        margin: 30px auto 0;
        text-align: center;
        box-sizing: border-box;
        .title {
            font-family: Gotham Light;
            font-size: 80px;
            line-height: 80px;
            color:#1e234b;
            margin-bottom: 10px;
            .color-bule{
                font-family: Gotham Bold;
                color:#2492fc;
            }
            .b-bold {
                font-family: Gotham Bold;
            }
        }
        .subtitle{
            font-family: Gotham Book;
            font-size: 36px;
            line-height: 40px;
            color:#1e234b;
            margin-bottom: 30px;
        }
        p{
            font-family: Gotham Book;
            font-size: 18px;
            color:#7585b1;
        }
    }
    .page-two .feature-text {
        .title {
            color: #414676;
        }
        p {
            color: #7585b1;
        }
    }
    .page-three .feature-text {
        .title {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    .page-four .feature-text {
        .title {
            color: #414676;
        }
        p {
            color: #7585b1;
        }
    }
    .page-five .feature-text {
        .title {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    
    @media (max-width:750px){
        .page .feature-text {
            padding: 0 30px;
            .title {
                font-size: 64px;
                font-weight: 300;
                line-height: 1;
                text-align: center;
                color: #1e234b;
            }
            p {
                font-family: Gotham Book;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.71;
                color: #7585b1;
            }
        }
        .page-two .feature-text {
            .title {
                font-size: 48px;
                color: #414676;
                line-height: 1.08;
            }
            p {
                font-family: $font-family;
            }
        }
        .page-three .feature-text {
            .title {
                font-family: Gotham Book;
                font-size: 48px;
                font-weight: 300;
                line-height: 1.08;
                color: #fff;
            }
            p {
                color: #fff;
            }
        }
        .page-four .feature-text {
            .title {
                font-size: 48px;
                color: #414676;
                line-height: 1.08;
            }
            p {
                color: #7585b1;
            }
        }
        .page-five .feature-text {
            .title {
                font-size: 48px;
                color: #fff;
                line-height: 1.08;
            }
            p {
                color: #fff;
            }
        }
    }
}
@mixin feature-title-bg() {
    .feature-title-bg {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        width: auto;
        max-width: 750px;
        height: 280px;
        margin: auto;
        overflow: hidden;
        svg {
            margin-bottom: -10px;
        }
    }
    .page-two .feature-title-bg svg {
        fill: #f0f7ff;
    }
    .page-three .feature-title-bg svg {
        opacity: 0.1;
        fill: #cae7ff;
    }
    .page-four .feature-title-bg svg {
        fill: #f0f7ff;
    }
    .page-five .feature-title-bg svg {
        // height: 224px;
        opacity: 0.05;
        fill: #95cfff;
    }
    @media (max-width:750px){
        .page-two .feature-title-bg svg {
            fill: #f0f7ff;
        }
        .page-five .feature-title-bg svg {
            // height: 102px;
            opacity: 0.05;
            fill: #95cfff;
        }
    }
}
@mixin btn-arrow-right(){
    .page {
        .icon-wrapper {
            position: absolute;
            top: 30px;
            left: 50%;
            z-index: 8;
            transform: translateX(-50%);
            white-space: nowrap;
            .btn-arrow-right {
                & + .btn-arrow-right {
                    margin-left: 30px;
                }
                .icon-arrow-right {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: #2492fc;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 15px;
                        vertical-align: middle;
                        background: url(//static.chimeroi.com/home/home/jiantou_1@2x.png) no-repeat;
                        background-size: cover;
                        transition: all 0.2s;
                    }
                    &:hover {
                        background-color: #fff;
                        &:after {
                            background-image: url(//static.chimeroi.com/home/home/jiantou_2@2x.png);
                        }
                    }
                }
            }
        }
    }
    .page.page-three .icon-wrapper .btn-arrow-right {
        .icon-arrow-right {
            width: 30px;
            height: 30px;
            line-height: 28px;
            background-color: #fff;
            &:after {
                width: 10px;
                height: 7.5px;
                background-image: url(//static.chimeroi.com/home/home/small_jiantou@2x.png);
            }
            &:hover{
                background-color: #46557F;
                &:after {
                    background-image: url(//static.chimeroi.com/home/home/jiantou_1@2x.png);
                }
            }
        }
        span {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            font-family: $font-family;
            line-height: 1.88;
        }
    }
    .page.page-five .icon-wrapper .btn-arrow-right {
        .icon-arrow-right {
            background-color: #fff;
            &:after {
                background-image: url(//static.chimeroi.com/home/home/small_jiantou@2x.png);
            }
            &:hover{
                background-color: #46557F;
                &:after {
                    background-image: url(//static.chimeroi.com/home/home/jiantou_1@2x.png);
                }
            }
        }
    }
    .page.page-two,.page.page-four {
        .icon-wrapper .btn-arrow-right .icon-arrow-right:hover{
            background-color: #ddedff;
        }
    }
    @media (max-width:750px){ 
        .page .icon-wrapper {
            position: static!important;
            transform: translateX(0)!important;
            margin-top: 40px;
        }
        .page-three .icon-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .btn-arrow-right {
                display: flex;
                flex-direction: row-reverse;
                width: 200px;
                text-align: right;
                & + .btn-arrow-right {
                    margin-left: 0;
                    margin-top: 20px
                }
                .icon-arrow-right {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}
.small-screen {
    display: none;
    .page {
        text-align: center;
        .feature-images {
            width: 100%;
            overflow: hidden;
        }
        .feature-image {
            // display: none;
            width: 100%;
            height: auto;
            text-align: center;
            img {
                margin-top: 60px;
            }
        }
        .feature-footer {
            position: relative;
        }
        .feature-image img {
            width: 100%;
            max-width: 750px;
            min-width: 320px;;
        }
        &.page-one {
            // padding-top: 60px;
            background-image: url('//static.chimeroi.com/home/home/1_bg@2x.png');

            .button {
                margin-top: 40px;
                margin-bottom: 108px;
                box-shadow: 0 15px 30px 0 rgba(33, 149, 240, 0.6);
                &:hover{
                    background-image: linear-gradient(90deg, #5ab7ff, #3ea9ff);
                }
                &:active{
                    background-image: linear-gradient(90deg, #2c94e5, #1087e5);
                }
            }
        }
        &.page-two {
            .feature-image {
                background-color: #ebf5ff;
            }
        }
        &.page-three {
            background-image: radial-gradient(circle at 40% 53%, #b4dfff, #81abd8);
        }
        &.page-four {
            background-color: #fff;
        }
        &.page-five {
            background-image: radial-gradient(circle at 39% 53%, #4a6dc9, #384496);
        }
        &.page-six {
            padding-top: 160px;
            padding-bottom: 80px;
            background: url('//static.chimeroi.com/home/home/demo-bg.jpg') no-repeat;
            background-position: center;
            background-size: cover;
            .content {
                h2 {
                    max-width: 423px;
                    // height: 120px;
                    margin: auto;
                    font-family: Gotham Bold;
                    font-size: 50px;
                    line-height: 1.2;
                    text-align: center;
                    color: #ffffff;
                }
                .button-wrap {
                    margin-top: 80px;
                    .button {
                        background-color: #2b38a1;
                        background-image: none;
                        box-shadow: 0 12px 24px 0 rgba(52,67,189,.3);
                        &:hover{
                            background-color: #4b59c9;
                        }
                        &:active{
                            background-color: #2b38a1;
                        }
                    }
                }
            }
        }
    }
    
    @include feature-text();
    @include feature-title-bg();
    @include btn-arrow-right();
}

@media (max-width:1023px){
    html,body {
        height: 100%;
        // border-top: 1px solid transparent;// 手机端缺乏该样式后就无法滚不知道为何（QQ浏览器出现）
        // overflow: auto!important;   // 这句代码会导致safari浏览器滑动的时候迟钝
    }
    .small-screen {
        display: block;
    }
    .large-screen {
        display: none;
    }
}
@media (max-width:749px){
    .small-screen .page.page-one {
        .feature-text p {
            font-size: 14px;
            line-height: 1.71;
            color: #7585b1;
        }
    }
    .small-screen .page.page-six {
        padding-top: 64px;
        padding-bottom: 80px;
        background-position: 80%!important;
        .content h2 {
            font-size: 45px;
            padding: 0 30px;
        }

    }
}
.button{
    display: inline-block;
    width: 280px;
    height: 54px;
    line-height: 54px;
    margin: auto;
    border-radius: 33px;
    font-size: 20px;
    font-family: Gotham Bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #31a5ff, #1197ff);
}
.btn-box{
    display: flex;
    .jump-detail{
        font-size: 16px;
        line-height: 30px;
        .btn-bg{
            display: inline-block;
            width: 60px;
            height: 60px;
            @media (max-width:1023px) {
                background-image: url('//static.chimeroi.com/home/home/2_btn.png');
            }
        }
    }
}
