// 所有无限滚动动画
@each $name, $move ,$opacityStart,$opacityEnd in (move-1, 4px,1,.85),
                        (move-2, 4px,.85,1),
                        (move-3, 6px,1,.85),
                        (move-4, 6px,.85,1),
                        (move-5, 10px,1,.85),
                        (move-6, 10px,.85,1){
  .#{$name} {
    animation: $name+-easeinout 1s cubic-bezier(0.4,0.25,0.55,0.8) infinite alternate,
               $name+-line 1s linear infinite alternate;
  }
  @keyframes #{$name}-easeinout {
      from{
        transform: translate3d(0,$move, 0);
      }
      to{
        transform: translate3d(0,0, 0);
      }
  }
  @keyframes #{$name}-line {
      from{
        opacity: $opacityStart;
      }
      to{
        opacity: $opacityEnd;
      }
  }
}