// 所有无限滚动动画
@each $name, $move in (move-1, 4px),
                      (move-2, 6px),
                      (move-3, 10px){
  .#{$name} {
    animation: $name+-easeinout 1s cubic-bezier(0.4,0.25,0.55,0.8) infinite alternate,
               $name+-line 1s linear infinite alternate;
  }
  @keyframes #{$name}-easeinout {
      0%{
        transform: translate3d(0,$move, 0);
      }
      50%{
        transform: translate3d(0,0, 0);
      }
      100%{
        transform: translate3d(0,-$move, 0);
      }
  }
  @keyframes #{$name}-line {
      0%{
        opacity: 1;
      }
      50%{
        opacity: .85;
      }
      100%{
        opacity: 1;
      }
  }
}