@font-face {
    font-family: 'icon-font';
    src:  url('//static.chimeroi.com/home/icon-font/180408/icomoon.eot');
    src:  url('//static.chimeroi.com/home/icon-font/180408/icomoon.eot') format('embedded-opentype'),
      url('//static.chimeroi.com/home/icon-font/180408/icomoon.woff2') format('woff2'),
      url('//static.chimeroi.com/home/icon-font/180408/icomoon.ttf') format('truetype'),
      url('//static.chimeroi.com/home/icon-font/180408/icomoon.woff') format('woff'),
      url('//static.chimeroi.com/home/icon-font/180408/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova W08 Light";
    src: url("//static.chimeroi.com/home/Fonts/1274145/910c69c9-1457-45b2-9db2-09eb4b2921eb.eot?#iefix");
    src: url("//static.chimeroi.com/home/Fonts/1274145/910c69c9-1457-45b2-9db2-09eb4b2921eb.eot?#iefix") format("eot"), url("//static.chimeroi.com/home/Fonts/1274145/38b02c72-795a-436d-96b6-63bf366b0b4c.woff2") format("woff2"), url("//static.chimeroi.com/home/Fonts/1274145/5e902f22-dc96-42db-9cea-596fd6e0128f.woff") format("woff"), url("//static.chimeroi.com/home/Fonts/1274145/7a4accfd-087c-4552-a16f-a3eba295def8.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova W08 Reg";
    src: url("//static.chimeroi.com/home/Fonts/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix");
    src: url("//static.chimeroi.com/home/Fonts/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix") format("eot"), url("//static.chimeroi.com/home/Fonts/1274151/781c5453-0067-4e64-9386-7c0726d63d57.woff2") format("woff2"), url("//static.chimeroi.com/home/Fonts/1274151/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff") format("woff"), url("//static.chimeroi.com/home/Fonts/1274151/47e08118-5050-469b-a40c-dc3b2307e87e.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova W08 Bd";
    src: url("//static.chimeroi.com/home/Fonts/1274163/c46a6af2-17e1-44cd-b22e-cde8ac5522bc.eot?#iefix");
    src: url("//static.chimeroi.com/home/Fonts/1274163/c46a6af2-17e1-44cd-b22e-cde8ac5522bc.eot?#iefix") format("eot"), url("//static.chimeroi.com/home/Fonts/1274163/36b2c5d9-5814-4505-ba7a-f94849f9d8d9.woff2") format("woff2"), url("//static.chimeroi.com/home/Fonts/1274163/a77f80ae-abcf-401e-9cb3-ab84498fc03b.woff") format("woff"), url("//static.chimeroi.com/home/Fonts/1274163/7f5a805f-22af-4c2d-b5f9-ab2f4738f783.ttf") format("truetype");
}

@font-face{
    font-family: "Proxima Nova Semibold";
    src: url("//static.chimeroi.com/home/Fonts/proximanova-semibold/proximanova-semibold-webfont.eot#iefix");
    src: url("//static.chimeroi.com/home/Fonts/proximanova-semibold/proximanova-semibold-webfont.eot") format("eot"),
    url("//static.chimeroi.com/home/Fonts/proximanova-semibold/proximanova-semibold-webfont.woff2") format("woff2"),
    url("//static.chimeroi.com/home/Fonts/proximanova-semibold/proximanova-semibold-webfont.woff") format("woff"),
    url("//static.chimeroi.com/home/Fonts/proximanova-semibold/proximanova-semibold-webfont.ttf") format("truetype");
}

@font-face{
    font-family: "Gotham Black";
    src: url("//static.chimeroi.com//home/Fonts/GothamBlack/GothamBlack.eot#iefix");
    src: url("//static.chimeroi.com//home/Fonts/GothamBlack/GothamBlack.eot") format("eot"),
    url("//static.chimeroi.com//home/Fonts/GothamBlack/GothamBlack.woff2") format("woff2"),
    url("//static.chimeroi.com//home/Fonts/GothamBlack/GothamBlack.woff") format("woff"),
    url("//static.chimeroi.com//home/Fonts/GothamBlack/GothamBlack.ttf") format("truetype");
}

@font-face{
    font-family: "Gotham Bold";
    src: url("//static.chimeroi.com//home/Fonts/GothamBold/GothamBold.eot#iefix");
    src: url("//static.chimeroi.com//home/Fonts/GothamBold/GothamBold.eot") format("eot"),
    url("//static.chimeroi.com//home/Fonts/GothamBold/GothamBold.woff2") format("woff2"),
    url("//static.chimeroi.com//home/Fonts/GothamBold/GothamBold.woff") format("woff"),
    url("//static.chimeroi.com//home/Fonts/GothamBold/GothamBold.ttf") format("truetype");
}

@font-face{
    font-family: "Gotham Book";
    src: url("//static.chimeroi.com//home/Fonts/GothamBook/GothamBook.eot#iefix");
    src: url("//static.chimeroi.com//home/Fonts/GothamBook/GothamBook.eot") format("eot"),
    url("//static.chimeroi.com//home/Fonts/GothamBook/GothamBook.woff2") format("woff2"),
    url("//static.chimeroi.com//home/Fonts/GothamBook/GothamBook.woff") format("woff"),
    url("//static.chimeroi.com//home/Fonts/GothamBook/GothamBook.ttf") format("truetype");
}

@font-face{
    font-family: "Gotham Medium";
    src: url("//static.chimeroi.com//home/Fonts/GothamMedium/GothamMedium.eot#iefix");
    src: url("//static.chimeroi.com//home/Fonts/GothamMedium/GothamMedium.eot") format("eot"),
    url("//static.chimeroi.com//home/Fonts/GothamMedium/GothamMedium.woff2") format("woff2"),
    url("//static.chimeroi.com//home/Fonts/GothamMedium/GothamMedium.woff") format("woff"),
    url("//static.chimeroi.com//home/Fonts/GothamMedium/GothamMedium.ttf") format("truetype");
}
@font-face{
    font-family: "Gotham Light";
    src: url("////static.chimeroi.com/home/Fonts/GothamLight/GothamLight.eot#iefix");
    src: url("//static.chimeroi.com/home/Fonts/GothamLight/GothamLight.eot") format("eot"),
    url("//static.chimeroi.com/home/Fonts/GothamLight/GothamLight.woff2") format("woff2"),
    url("//static.chimeroi.com/home/Fonts/GothamLight/GothamLight.woff") format("woff"),
    url("////static.chimeroi.com/home/Fonts/GothamLight/GothamLight.ttf") format("truetype");
}

body {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // font-family: Proxima Nova W08 Reg, Proxima Nova W08 Light, Helvetica Neue, Helvetica, Verdana, Arial;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: #282828;
}

input,
textarea,
button {
    // font-family: Proxima Nova W08 Reg, Proxima Nova W08 Light, Helvetica Neue, Helvetica, Verdana, Arial;
}
textarea{
    resize: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
figure,
li {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,
p {
    line-height: 150%;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: 1px solid #cccccc;
    box-shadow: 0 0 1px 0 #cccccc inset;
    -webkit-appearance: none;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    outline: none;
}

input[type=submit] {
    cursor: pointer;
    border: none;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.icon {
    font-family: "icon-font";
}

form {
    margin: 0;
}

.pop-mask,
.nav-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    left: 0;
    top: 0;
    display: none;
    z-index: 99;
}

.nav-mask {
    z-index: 2;
}

input[readonly] {
    color: #999999 !important;
    box-shadow: none;
}

input.invalid[readonly],
input[readonly]:focus {
    border: none !important;
}

/*
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webki-outer-spin-button {
    -webkit-appearance: none;
}
*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    /*border: 1px solid #CCC!important;
    height: 27px!important;
    line-height: 27px!important;
    border-radius: 0 4px 4px 0;
    background-color: rgba(0,0,0,0) !important;*/
}
iframe[name='google_conversion_frame']{
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

p.error {
    font-size: 14px;
    color: #f76363 !important;
}

p.error span {
    max-width: none !important;
}

.toast {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background: #000;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    z-index: 100;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 70%;
    max-width: 500px;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

@media (min-width: 1489px) {
    .h-container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1488px) {
    .h-container {
        margin-left: 144px;
        margin-right: 144px;
    }
}

@media (max-width: 1100px) {
    .h-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 800px) {
    .h-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .h-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.d-container {
    max-width: 1440px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 1440px){
    .d-container {
        max-width: 960px;
    }
}
@media(max-width: 970px) and (min-width: 767px) {
    .d-container {
        max-width: 760px;
    }
}
.screenSmallText{
    display: none;
}
.screenLargeText{
    display: block;
}
@media (max-width: 766px){
    .d-container {
        max-width: 420px;
    }
    .screenLargeText{
        display: none;
    }
    .screenSmallText{
        display: block;
    }
}
@media (max-width: 470px){
    .d-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

body{
    font-family: 'SF UI Text',Helvetica,Arial,'san-serif'!important;
}